:root {
  --azul-escuro: #3B378C;
  --amarelo: #FDBE00;
  --laranja: #E18009;
  --cinza-claro: #F5F5F5;
  --branco: #FFFFFF;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--cinza-claro);

}

/*-------------------------Início NAVBAR CSS--------------------*/

.navbar a {
  text-decoration: none;
}

.navbar {
  background-color: var(--azul-escuro);
  padding: 12px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin: 0 auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-button {
  font-size: 24px;
  padding-left: 20px;
  color: var(--branco);
  background: none;
  border: none;
  cursor: pointer;
}

.logo-img {
  height: 70px;
  padding-left: 10px;
}

/* Centro */
.navbar-center {
  flex: 1;
  margin: 0 20px;
}

.search-input {
  width: 100%;
  padding: 10px 14px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
}

/* Direita */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.notification-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* barra de divisão */
.divider {
  width: 1px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.5);
}

/* Usuário */
.user-info {
  display: flex;
  padding-right: 20px;
  align-items: center;
  gap: 10px;
  color: var(--branco);
}

.logo-empresa {
  height: 40px;
  width: auto;
  object-fit: contain;
}

.user-avatar-img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.user-info .user-text .user-name {
  margin-bottom: 0;
}

.user-info .user-text .user-company {
  margin-top: 5px;
  margin-bottom: 0;
}

.user-name {
  font-weight: bold;
  line-height: 1;
}

.user-company {
  font-size: 12px;
  line-height: 1;
}

/*-------------------------Fim NAVBAR CSS--------------------*/

/*-------------------------Início MENU LATERAL CSS--------------------*/
:root {
  --azul-escuro: #3B378C;
  --amarelo: #FDBE00;
  --laranja: #E18009;
  --cinza-claro: #F5F5F5;
  --branco: #FFFFFF;
}

div#layout{

  display: flex;
}

.sidebar {
 
  position: relative;
  left: 0px;
  width: 280px;
  background-color: #F5F5F5;
  height: 100vh;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.05);
  transition: all 1.0s ease;
  margin: 0;
  
}

.sidebar.hidden {
  display: none;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;

}

.sidebar-nav li {
  box-shadow: inset 0 0 0 transparent;
  transition: background 0.3s, border-left 0.3s;
  border-top: 3px solid white;
  border-radius: 2px;
  margin: 6px 4px;

}

.sidebar-nav li a:hover {
  color: #3B378C;
}

.sidebar-nav li a:hover i {
  color: #3B378C;
}


.sidebar-nav li.active {
  background-color: #e0e0e0;
  border-left: 5px solid var(--azul-escuro);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
}

.sidebar-nav li.active a {
  color: #3B378C;
}

.sidebar-nav li.active i {
  color: #3B378C;
}

.sidebar-nav li:not(.active) i {
  opacity: 0.7;
}

.sidebar-nav a {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 15px 20px;
  color: #333;
  text-decoration: none;

}

.sidebar-nav a,
.sidebar-nav i {
  transition: color 0.3s ease;
}

.sidebar-nav li.active,
.sidebar-nav a:hover {
  background-color: #e0e0e0;
  border-left: 5px solid var(--azul-escuro);
}

.sidebar-nav i {
  color: var(--laranja);
  font-size: 18px;
}

/*-------------------------Fim MENU LATERAL CSS--------------------*/

main{

  margin:0;
  padding:0;

  min-height: 100vh;
  display:flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 50px;
  
}

main > article{

  margin:0;
  width: 70vw;
  padding-top:40px;

}

main > article > div.container{

  background-color: lightgrey;
  margin:0;
  padding:20px 40px;
  border-radius: 15px;
  margin-left: 50px;
  box-shadow:  6px 6px 3px 1px rgba(179, 179, 179, 0.847);
 
}

main > article > div.container > div#filtragem{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main > article > div.container > div#filtragem > div.input-icons > input#inputNome{

  text-indent:20px;

}

main > article > div.container > div#filtragem > div.input-icons > input::placeholder{

  color:black;

}

main > article > div.container > div#filtragem > div.input-icons > i{

  position: absolute;
  padding: 10px;
  min-width: 50px;
  text-align: center;

}
main > article > div.container > div#filtragem > div.input-icons > input, main > article > div.container > div#filtragem > select{

  border-radius: 15px;
  border: none;
  padding: 10px 7px 7px 20px;
 
  outline: none;
  background-color: white;
  color:black;
  font-weight: 200;
  width: 200px;
  box-shadow: inset 2.7px 2.7px 3px -0.5px rgb(179, 179, 179);
  
}

main > article > div.container > div#filtragem > select,::picker(select) {
  
  appearance: base-select;
}

main > article > div.container > div#filtragem > select::picker-icon{

  padding-right: 10px;
  color: #3B378C;
}

main > article > .divider {
  
  width: 103%;
  height: 2px;
  background-color: #FDBE00;
  margin: 10px 0;
}

main > article > div.container > .divider{

  width: 100%;
  height: 2px;
  background-color: white;
  margin: 10px 0px;
}

main > article > div.container > div.container2{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
main > article > div.container > div.container2 > div.container3{

  background-color: white;
  padding: 10px 40px 20px 20px;
  border-radius: 10px;
  box-shadow: inset 2.7px 2.7px 3px -0.5px rgb(162, 162, 162);
  width:45vw;
  display:flex;
  margin-bottom: 20px;
  justify-content: space-between;

}

main > article > div.container > div.container2 > div.container3 > div#grupo1, main > article > div.container > div.container2 > div.container3 > div#grupo2, main > article > div.container > div.container2 > div.container3 > div#grupo3{

  padding-top: 5px;

}

main > article > div.container > div.container2 > div.container3 > div#grupo1 > div, main > article > div.container > div.container2 > div.container3 > div#grupo2 > div, main > article > div.container > div.container2 > div.container3 > div#grupo3 > div{

  margin-bottom: 20px;
}

main > article > div.container > div.container2 > div.container3 > div#grupo1 > div > p.label, main > article > div.container > div.container2 > div.container3 > div#grupo2 > div > p.label, main > article > div.container > div.container2 > div.container3 > div#grupo3 > div > p.label{

  margin:0;
  padding:0;
  font-weight: bold;
}

main > article > div.container > div.container2 > div.container3 > div#grupo1 > div > p.text, main > article > div.container > div.container2 > div.container3 > div#grupo2 > div > p.text, main > article > div.container > div.container2 > div.container3 > div#grupo3 > div > p.text{

  font-size: 1.3em;
  padding:0;
  margin:0;
  padding-top: 3px;
}

main > article > div.container > div.container2 > div.container3 > div#grupo3 > button{

  border:none;
  outline: none;
  padding: 5px 40px 5px 40px;
  border-radius: 20px;
  background-color: orange;
  color:white;
  font-weight: bold;
  margin-top: 20px;
}

main > article > div.container > div.container2 > div.container3 > div#grupo3 > button:hover{
  background-color:#3B378C;
}

.icon_circle{

  position: absolute;
  color: greenyellow;
  min-width: 50px;
  text-align: center;
}

main > article > div.container > div.container2 > div.container4{

  background-color: white;
  padding: 10px 40px 20px 20px;
  border-radius: 10px;
  box-shadow: inset 2.7px 2.7px 3px -0.5px rgb(162, 162, 162);
  width:40vw;
  display:flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  justify-content: center;
  margin-right: 20px;

}

main > article > div.container > div.container2 > div.container4 > div#grupo1 > p, main > article > div.container > div.container2 > div.container4 > div.grupo2 > div#grupo2-sub1 > p, main > article > div.container > div.container2 > div.container4 > div.grupo2 > div#grupo2-sub2 > p{

  font-weight: bolder;
}

main > article > div.container > div.container2 > div.container4 > div#grupo1 > input, main > article > div.container > div.container2 > div.container4 > div.grupo2 > div#grupo2-sub1 > input, main > article > div.container > div.container2 > div.container4 > div.grupo2 > div#grupo2-sub2 > div.input-icons > input, main > article > div.container > div.container2 > div.container4 > div.grupo2 > div#grupo2-sub1 > input#inputDescricao{

  background-color: #D9D9D9;
  border: none;
  border-radius: 11px;
  padding: 6px;
  width: 35vw;
  box-shadow: inset 2.7px 2.7px 3px 1px rgb(162, 162, 162);
  color:black;
  outline: none;

  text-indent: 20px;
}

main > article > div.container > div.container2 > div.container4 > div.grupo2{

  display: flex;
  justify-content: space-between;
  margin-top: 30px;

}

main > article > div.container > div.container2 > div.container4 > div.grupo2  #grupo2-sub1{

  margin-right: 80px;
}

main > article > div.container > div.container2 > div.container4 > div.grupo2 > div.corrigeEspc{

  margin-right: 0px;
}

main > article > div.container > div.container2 > div.container4 > div.grupo2 > div#grupo2-sub2 > div.input-icons > i{

  position: absolute;
  padding: 6px 10px 10px 10px;
  min-width: 50px;
  text-align: center;
  color:#FDBE00;

}

main > article > div.container > div.container2 > div.container4 > div.grupo2 > div#grupo2-sub1 > select, main > article > div.container > div.container2 > div.container4 > div.grupo2 > div#grupo2-sub2 > select{

  border: none;
  border-radius: 11px;
  padding: 6px;
 
  outline: none;
  background-color: #D9D9D9;
  color:black;
  font-weight: 200;
  width: 200px;
  box-shadow: inset 2.7px 2.7px 3px 1px rgb(162, 162, 162);


}

main > article > div.container > div.container2 > div.container4 > div.grupo2 > div#grupo2-sub2 > select,::picker(select), main > article > div.container > div.container2 > div.container4 > div.grupo2 > div#grupo2-sub1 > select {
  
  appearance: base-select;
}

main > article > div.container > div.container2 > div.container4 > div.grupo2 > div#grupo2-sub1 > select::picker-icon, main > article > div.container > div.container2 > div.container4 > div.grupo2 > div#grupo2-sub2 > select::picker-icon{

  padding-right: 10px;
  color: #3B378C;
}

main > article > div.container > div.container2 > div.container4 > div.grupo2 > div#grupo2-sub1 > input, main > article > div.container > div.container2 > div.container4 > div.grupo2 > div#grupo2-sub2 > div.input-icons > input{

  width: 15vw;

}

main > article > div.container > div.container2 > div.container5{

  background-color: white;
  padding: 10px 40px 20px 20px;
  border-radius: 10px;
  box-shadow: inset 2.7px 2.7px 3px -0.5px rgb(162, 162, 162);
  width:20vw;
  display:flex;
  flex-wrap: wrap;
  margin: 0px;
  margin-bottom: 20px;
  justify-content:center;


}

main > article > div.container > div.container2 > div.container5 > h1{

  font-size: 1.7em;
}

main > article > div.container > div.container2 > div.container5 > p{

  font-size: 1.1em;
  line-height: 33px;
}

main > article > div.container > div.container2 > div.container5 > div.button-icons > button{

  background-color: red;
  color:white;
  font-weight: bolder;
  padding: 10px;
  padding-left: 55px;
  border-radius: 15px;
  font-size: 1.1em;
  text-align: left;
  border: none;

  box-shadow:  3px 3px 3px 1px rgba(179, 179, 179, 0.847);
}

main > article > div.container > div.container2 > div.container5 > div.button-icons > button:hover{

  background-color: #3B378C;
}

main > article > div.container > div.container2 > div.container5 > div.button-icons > i{

  position: absolute;
  padding: 10px;
  min-width: 50px;
  text-align: center;
  color:white;
  font-weight: bolder;

}

main > article > div.container > div.container2 > div.container4 > div.grupo2 > button{

  background-color: #FDBE00;
  color:white;
  border: none;
  border-radius: 12px;
  padding:0px 40px;
  font-weight: bolder;
  font-size: 1.2em;
  display: inline;
  box-shadow:  3px 3px 3px 1px rgba(179, 179, 179, 0.847);
  height: 7vh;
  margin-top: 32px;
}

main > article > div.container > div.container2 > div.container4 > div.grupo2 >  button:hover{

  background-color: #3B378C;
}

main > article > div.container > div.container2 > div.container4 > div.grupo2 > div#grupo2-sub1 > input#inputDescricao{

  width:20vw;
  margin-right: 20px;

}

main > article > div#container_index{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: transparent;
  box-shadow: none;

}

main > article > div#container_index > div#links_pags > div.link_pag{

  background-color: #F5F5F5;
  padding: 10px 10px 0 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow:  3px 3px 3px 1px rgba(179, 179, 179, 0.847);
}

main > article > div#container_index > div#links_pags > div.link_pag:hover{

  margin-left: 20px;
}

main > article > div#container_index > div#links_pags > div.link_pag > a{

  display:flex;
  text-decoration: none;
  color:black;
  
}

main > article > div#container_index > div#links_pags > div.link_pag > a > i{

  color:#FDBE00
}

main > article > div#container_index > div#links_pags > div.link_pag > a > .divider {
  width: 1px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0px 10px;
}

main > article > div#container_index > div#lista_emprestimo{

  text-align: right;
  background-color: #D9D9D9;
  padding: 25px;
  border-radius: 15px;
}

main > article > div#container_index > div#lista_emprestimo > div.emprestimo div#grupo1, main > article > div#container_index > div#lista_emprestimo > div.emprestimo div#grupo2{

  padding-top: 5px;
}

main > article > div#container_index > div#lista_emprestimo > div.emprestimo div#grupo1 > div, main > article > div#container_index > div#lista_emprestimo > div.emprestimo div#grupo2 > div{

  margin-bottom: 20px;
}

main > article > div#container_index > div#lista_emprestimo > div.emprestimo div#grupo1 > div > p.label, main > article > div#container_index > div#lista_emprestimo > div.emprestimo div#grupo2 > div > p.label{

  margin:0;
  padding:0;
  font-weight: bold;
}

main > article > div#container_index > div#lista_emprestimo > div.emprestimo div#grupo1 > div > p.text, main > article > div#container_index > div#lista_emprestimo > div.emprestimo div#grupo2 > div > p.text{

  font-size: 1.3em;
  padding:0;
  margin:0;
  padding-top: 3px;
}

main > article > div#container_index > div#lista_emprestimo > div.emprestimo{

  background-color: white;
  padding: 10px 40px 20px 20px;
  border-radius: 10px;
  box-shadow: inset 2.7px 2.7px 3px -0.5px rgb(162, 162, 162);
  width:35vw;
 
  margin-bottom: 20px;
  justify-content: space-between;
  text-align: left;

}

main > article > div#container_index > div#lista_emprestimo > div.emprestimo > div#grupo2{

  display: flex;
  justify-content: space-between;
}

main > article > div#container_index > div#lista_emprestimo > div.emprestimo > div#grupo2 > div{

  margin-right: 20px;
}

main > article > a{

   text-decoration: none;
}

main > article > a > button, main > article > div#container_index > div#lista_emprestimo > a{

  text-decoration: none;
}
main > article > a > button, main > article > div#container_index > div#lista_emprestimo > a > button{

  background-color: #FDBE00;
  color:white;
  border: none;
  border-radius: 12px;
  padding:0px 40px;
  font-weight: bolder;
  font-size: 1.2em;
  display: inline;
  box-shadow:  3px 3px 3px 1px rgba(179, 179, 179, 0.847);
  height: 7vh;
  margin-top: 32px;
 
}

main > article > button:hover, main > article > div#container_index > div#lista_emprestimo > a > button:hover{

  background-color: #3B378C;
}